[versions]
kotlin = "2.0.21"
ktor-plugin = "3.0.3"
logback = "1.5.12"
pluginPublish = "1.3.0"
gradlePlugin-shadow = "8.3.5"
gradlePlugin-jib = "3.4.4"
gradlePlugin-graalvm = "0.10.3"
junit = "5.11.4"
mockk = "1.13.13"

[libraries]
kotlin-test-junit5 = { module = "org.jetbrains.kotlin:kotlin-test-junit5", version.ref = "kotlin" }
gradlePlugin-shadow = { module = "com.gradleup.shadow:shadow-gradle-plugin", version.ref = "gradlePlugin-shadow" }
gradlePlugin-jib = { module = "com.google.cloud.tools:jib-gradle-plugin", version.ref = "gradlePlugin-jib" }
gradlePlugin-graalvm = { module = "org.graalvm.buildtools:native-gradle-plugin", version.ref = "gradlePlugin-graalvm" }
junit-jupiter-params = { module = "org.junit.jupiter:junit-jupiter-params", version.ref = "junit" }
mockk = { module = "io.mockk:mockk", version.ref = "mockk" }

# Dependencies for samples
ktor-server-core = { module = "io.ktor:ktor-server-core-jvm" }
ktor-server-cio = { module = "io.ktor:ktor-server-cio-jvm" }
logback = { module = "ch.qos.logback:logback-classic", version.ref = "logback" }

[plugins]
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
pluginPublish = { id = "com.gradle.plugin-publish", version.ref = "pluginPublish" }
ktor = { id = "io.ktor.plugin", version.ref = "ktor-plugin" } # The published plugin
