[versions]
kotlin = "1.7.21"
logback = "1.4.4"

[libraries]
ktor-server-core = { module = "io.ktor:ktor-server-core-jvm" }
ktor-server-cio = { module = "io.ktor:ktor-server-cio-jvm" }
logback = { module = "ch.qos.logback:logback-classic", version.ref = "logback" }

[plugins]
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
ktor = { id = "io.ktor.plugin" } # The published plugin
